<div class="col-md-6">
  <form>
    <div class="form-group">
      <div>
        <input
          class="form-textarea custom-textarea"
          type="text"
          id="comment-content"
          placeholder="help me"
        />
      </div>
    </div>
    <button class="btn custom-btn" type="submit" id="newcomment-btn">Add Comment</button>
  </form>
</div>

<script src="/js/newcomment.js"></script>