<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gatsbeau's Blog</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header id="header">
      <h1 class="text-center pt-2">Gatsbeau Sucks at Coding</h1>
      <nav class="display-flex justify-flex-start">
        <a href="/" class="p-3 pt-0 ml-3"><button>Home</button></a>
        <a href="/dashboard" class="p-3 pt-0"><button>Dashboard</button></a>
        {{#if logged_in}}
          <div class="p-3 pt-0">
            <button id="logout">Logout</button>
          </div>
          <p id="welcome-msg">Welcome back!</p>
        {{else}}
          <a href="/login" class="p-3 pt-0"><button>Login</button></a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}

    </main>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

  <script src="./js/seePost.js"></script>

</html>